@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
}

body {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1140px;
  margin: 0px auto;
}

.header {
  background-color: #222222;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  background: none;
  border: none;
  cursor: pointer;
}

.button_nav {
  margin: 30px 0%;
}

.leftSideNav {
  display: flex;
  gap: 30px;
}

.rightSideNav {
  display: flex;
  gap: 30px;
}

.section__top {
  display: flex;
  align-items: center;
  height: 148px;
  background: #f8f3f4;
}

.section__top_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section__top_content h1 {
  color: #f16d7f;
  text-transform: uppercase;
  font-family: Lato;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
}

.formRegistration {
  padding-top: 64px;
  display: grid;
  padding-bottom: 96px;
  grid-template-columns: repeat(2, 1fr);
}

.formRegistration__right {
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.formRegistration__right h2 {
  font-family: Lato;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
}
.formRegistration__right p {
  font-family: Lato;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
}

.nameInfo {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  gap: 20px;
}

.nameInfo input {
  height: 45px;
}

.nameInfo input p {
  font-family: Lato;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
  text-align: left;
  color: #b1b1b1;
}

.nameInfo h3 {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: #222222;
}

.radioButton {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-top: 31px;
  padding-bottom: 33px;
  gap: 20px;
}

.form_radio {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.form_radio input[type=radio] {
  display: flex;
}

.form_radio label {
  display: inline-block;
  cursor: pointer;
  padding-left: 10px;
  line-height: 18px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.form_radio label:before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 18px;
  position: absolute;
  left: 0;
  bottom: 1px;
}

/* Checked */
.form_radio input[type=radio]:checked + label:before {
  background: url(/img/radio-2.png) 0 0 no-repeat;
}

/* Hover */
.form_radio label:hover:before {
  filter: brightness(120%);
}

.nameInfo p {
  font-family: Lato;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
  text-align: left;
  color: #b1b1b1;
}

.btn {
  padding-top: 39px;
}
.btn__join {
  width: 130px;
  height: 38px;
  background-color: #f16d7f;
  border: none;
  cursor: pointer;
}
.btn__join p {
  color: white;
}

.markers {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.markers li {
  list-style-image: url(./img/Vector.svg);
  font-family: Lato;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
}

.subscribe {
  max-width: 100%;
  background: url("./img/photo_subscribe.png");
  height: 448px;
}

.subscribe_content {
  display: flex;
  /* flex-direction: row; */
  padding-top: 97px;
  justify-content: space-around;
  align-items: center;
}

.subscribe_content-left {
  display: flex;
  max-width: 360px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.subscribe_content-left p {
  text-align: center;
}

.subscribe_content-left img {
  padding-bottom: 30px;
}

.subscribe_content-right {
  display: flex;
  /* max-width: 360px; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscribe_content-right h5 {
  padding-bottom: 32px;
}

.subscribe_input {
  display: flex;
  flex-direction: row;
}

.subscribe_input-eml {
  display: flex;
  align-items: center;
  padding-left: 15px;
  /* border: #222222 solid 1px ; */
  border-radius: 20px 0 0 20px;
  max-width: 200px;
  max-height: 49px;
  background: #e1e1e1;
}

.subscribe_input-eml input {
  border: none;
  background: none;
}

.subscribe_button button {
  padding: 10px;
  background: #e05c6e;
  border-radius: 0 20px 20px 0;
  max-width: 100px;
  max-height: 49px;
  cursor: pointer;
  border: none;
}

.subscribe_button p {
  text-align: center;
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
  color: white;
}

.copyright {
  background: #222222;
}

.copyright__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__content p {
  font-family: "Lato";
  font-size: 16px;
  font-weight: 400;
  color: #7a7a7a;
  padding: 16px 0;
}

.logo_cprght {
  display: flex;
  margin: 24px 0;
  gap: 8px;
}

@media (max-width: 1146px) and (min-width: 768px) {
  .container {
    max-width: 736px;
  }
}
/* телефон */
@media (max-width: 767px) {
  .container {
    max-width: 343px;
  }
  .navigation {
    justify-content: space-around;
    /* padding-left: 30px; */
  }
  .button_nav {
    margin: 15px 0%;
  }
  .leftSideNav {
    gap: 41px;
  }
  .rightSideNav {
    gap: 41px;
  }
  .products {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 30px;
  }
  .section1Text h2 {
    font-size: 44px;
  }
  .section1Text h3 {
    font-size: 24px;
  }
  .products__banner img {
    max-width: 50%;
    height: auto;
  }
  .sectionTop {
    width: 100%;
    height: 330px;
    background-size: contain;
  }
  .btn__Browse {
    display: none;
  }
  .input__search {
    display: none;
  }
  .sectionCategory {
    display: flex;
    flex-direction: column;
  }
  .navigation__bottom {
    flex-wrap: wrap;
  }
  .sectionTop {
    display: none;
  }
}/*# sourceMappingURL=style_registrtion.css.map */